.champion {
  background-color: var(--LIGHT_GRAY);
  padding: 1rem;
  border-radius: 0.5rem;
  gap: 1rem;
}

.name {
  margin: 0;
}

.title {
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  margin: 1rem 0;
  font-size: 0.85rem;
}

.images img {
  border-radius: 0.5rem;
}

.vertical {
  width: 100%;
}

.horizontal {
  display: none;
}

@media screen and (min-width: 475px) {
  .champion {
    display: grid;
    grid-template-areas: "image details";
    grid-auto-columns: 1fr auto;
  }

  .details {
    grid-area: details;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (min-width: 600px) {
  .vertical {
    display: none;
  }

  .horizontal {
    display: inline-block;
    width: 100%;
  }
}
