:root {
  --DARK_GRAY: #222831;
  --LIGHT_GRAY: #393e46;
  --YELLOW: #ffd369;
  --GRAY: #eeeeee;
  --TRANSITION: all 0.3s;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--DARK_GRAY);
  font-family: "Roboto", sans-serif;
  color: #fff;
}

.app {
  min-height: 100%;
}

a {
  text-decoration: none;
  color: var(--GRAY);
}

svg {
  height: 24px;
  vertical-align: middle;
  width: 24px;
}

nav {
  align-items: center;
  background-color: var(--YELLOW);
  display: flex;
  height: 3.5rem;
  justify-content: space-between;
  padding: 1rem;
}

nav a {
  color: #fff;
  vertical-align: middle;
  font-weight: bold;
}

nav .home-link {
  font-size: 1.5rem;
  font-weight: bold;
}

nav .items {
  display: flex;
  gap: 2rem;
}

main {
  width: 90%;
  margin: 1rem auto;
  max-width: 1100px;
  text-align: center;
}

main .version {
  background-color: var(--YELLOW);
  display: inline-block;
  padding: 0.5rem 0.75rem;
  margin-bottom: 1rem;
  border-radius: 50rem;
  font-size: 0.75rem;
  font-weight: bold;
}

main .grid {
  background: var(--LIGHT_GRAY);
  padding: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, 120px);
  justify-content: space-between;
  border-radius: 0.5rem;
}

.thumbnail {
  cursor: pointer;
  overflow: hidden;
  text-align: center;
}

.thumbnail img {
  border-radius: 0.5rem;
}

.thumbnail .name {
  font-weight: bold;
  display: block;
}

.champion {
  background-color: var(--LIGHT_GRAY);
  padding: 1rem;
  border-radius: 0.5rem;
  gap: 1rem;
}

.champion .name {
  margin: 0;
}

.champion .title {
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  margin: 1rem 0;
  font-size: 0.85rem;
}

.champion .images img {
  border-radius: 0.5rem;
}

.champion .images .vertical {
  width: 100%;
}

.champion .images .horizontal {
  display: none;
}

@media screen and (min-width: 400px) {
  main .grid {
    grid-template-columns: repeat(auto-fill, 100px);
  }
}

@media screen and (min-width: 475px) {
  .champion {
    display: grid;
    grid-template-areas: "image details";
    grid-auto-columns: 1fr auto;
  }

  .champion .details {
    grid-area: details;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (min-width: 600px) {
  .champion .images .vertical {
    display: none;
  }

  .champion .images .horizontal {
    display: inline-block;
    width: 100%;
  }
}

@media screen and (min-width: 900px) {
  main .grid {
    grid-template-columns: repeat(auto-fill, 150px);
  }
}
