:root {
  --DARK_GRAY: #222831;
  --LIGHT_GRAY: #393e46;
  --YELLOW: #ffd369;
  --GRAY: #eeeeee;
  --TRANSITION: all 0.3s;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--DARK_GRAY);
  font-family: "Roboto", sans-serif;
  color: #fff;
}

.app {
  min-height: 100%;
}

a {
  text-decoration: none;
  color: var(--GRAY);
}

svg {
  height: 24px;
  vertical-align: middle;
  width: 24px;
}

.badge {
  background-color: var(--YELLOW);
  font-weight: bold;
  padding: 0.25rem 0.5rem;
  font-size: 0.85rem;
  border-radius: 0.5rem 0 0 0;
  position: absolute;
  z-index: 1;
  transition: all 0.2s ease-out;
}

main {
  width: 90%;
  margin: 1rem auto;
  max-width: 1100px;
  text-align: center;
}

main .grid {
  background: var(--LIGHT_GRAY);
  padding: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, 120px);
  justify-content: space-between;
  border-radius: 0.5rem;
}

@media screen and (min-width: 400px) {
  main .grid {
    grid-template-columns: repeat(auto-fill, 100px);
  }
}

@media screen and (min-width: 900px) {
  main .grid {
    grid-template-columns: repeat(auto-fill, 150px);
  }
}
