.thumbnail {
  cursor: pointer;
  text-align: center;
  position: relative;
}

.thumbnail img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

.champion_name {
  font-weight: bold;
  display: block;
  margin-top: 0.5rem;
}

.skeleton {
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.15),
    rgba(0, 0, 0, 0.1)
  );
  width: 150px;
  height: 150px;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  animation-name: loading;
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes loading {
  0% {
    background-position: -150px 0;
  }
  100% {
    background-position: 150px 0;
  }
}
