.thumbnail {
  cursor: pointer;
  text-align: center;
  position: relative;
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 3px;
  overflow: hidden;
}

.thumbnail img {
  width: 100%;
  height: auto;
  transition: all 0.3s ease;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: top;
  border-radius: 3px 3px 0 0;
  transform: scale(1.15);
}

.champion_name {
  font-weight: bold;
  display: block;
  padding: 0.5em;
}

.thumbnail:hover img {
  transform: scale(1.1);
  border-radius: 5px;
}
