:root {
  --DARK_GRAY: #222831;
  --LIGHT_GRAY: #393e46;
  --YELLOW: #ffd369;
  --GRAY: #eeeeee;
  --NAV_SIZE: 75px;
}

body {
  background-color: var(--LIGHT_GRAY);
  color: #fff;
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  justify-content: center;
  margin: 0;
  text-align: center;
}

#root {
  background-color: var(--DARK_GRAY);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  min-height: 100vh;
  width: 375px;
}

a {
  text-decoration: none;
  color: var(--GRAY);
}

svg {
  height: 24px;
  vertical-align: middle;
  width: 24px;
}

header {
  position: sticky;
  top: 0;
}

nav {
  align-items: center;
  background-color: var(--YELLOW);
  box-sizing: border-box;
  display: flex;
  height: var(--NAV_SIZE);
  justify-content: space-between;
  padding: 1rem;
}

nav a {
  color: #fff;
  vertical-align: middle;
}

nav .home-link {
  font-size: 1.5rem;
  font-weight: bold;
}

nav .items {
  display: flex;
  gap: 2rem;
}

nav .items .search-btn {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  outline: none;
  padding: 0;
}

header .search-bar {
  background-color: var(--LIGHT_GRAY);
  border-bottom: 1px solid var(--DARK_GRAY);
  padding: .75rem;
}

header .search-box {
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
  gap: .75rem;
}

header .search-box input {
  border: none;
  color: var(--LIGHT_GRAY);
  display: block;
  height: 100%;
  outline: none;
  padding: .5rem;
  width: 100%;
}

header .search-box button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  outline: none;
}

main {
  padding: 1rem;
}

main .version {
  background-color: var(--YELLOW);
  border-radius: 50rem;
  display: inline-block;
  font-size: .75rem;
  font-weight: bold;
  margin-bottom: 1rem;
  padding: .5rem .75rem;
}

.champions-list {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

.champion-preview {
  cursor: pointer;
  overflow: hidden;
  text-align: center;
}

.champion-preview img {
  border-radius: .5rem;
}

.champion-preview .name {
  font-weight: bold;
}

.champion-details {
  grid-column-start: span 2;
  padding-top: 1rem;
}

.champion-details .btn-close {
  background-color: var(--YELLOW);
  border-radius: .5rem .5rem 0 0;
  border: none;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  font-weight: bold;
  outline: none;
  padding: .5rem;
  width: 100%;
}

.champion-details .card {
  background-color: var(--LIGHT_GRAY);
  border-radius: 0 0 .5rem .5rem;
  padding: 1rem;
}

.champion-details h1 {
  margin-top: 0;
}

.champion-details img {
  width: 100%;
  border-radius: .5rem;
}

.champion-details .champion-title {
  font-weight: bold;
  margin-bottom: 0;
  text-transform: uppercase;
}

@media (max-width: 375px){
  #root {
    width: 100%;
  }
}