body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.champions-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
  gap: 1rem;
}

.champion-preview {
  border-radius: .5rem;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
}

.champion-preview .champion-link {
  text-decoration: none;
}

.champion-preview .name {
  font-weight: bold;
}

.champion-preview img {
  width: 100%;
}